.page {
}

.box {
  height: fit-content;
  width: 250px;
  padding: 20px;
  border: 1px solid black;
}

.form input {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.form button {
  height: 30px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid black;
}
