.navigation {
  border-bottom: 1px solid black;
}

.title {
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.menu {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.menu button {
  width: 120px;
  padding: 7px;
  border: 1px solid black;
}

.menu a {
  text-decoration: none;
}
